

.coolbg {
    background-color: beige;
}

h1 {
    color: rgb(54, 17, 88);
}

h2 {
   color: rgb(7, 85, 7);
}

 #Beginning {
  text-align: center;
  color: rgb(156, 8, 8);
  font-size: xx-large;
}

 #End {
  color: rgb(88, 5, 5);
  font-size: xx-large;
}
